# Base de datos
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/DB_NAME"

# Autenticación — generar con: npx auth secret
AUTH_SECRET=

# Mapbox — https://account.mapbox.com/access-tokens/
# Iniciens sesion y pegen aqui su token, les pedira que ingresen una tarjeta pero no les cobrara nada
NEXT_PUBLIC_MAPBOX_TOKEN=